<div class="article" lang="<%= @page.effective_lang %>">
  <div id="headline_image"><%= headline_image %></div>
  <%= aggregate?(@page.body) %>
</div>

<%= will_paginate(@content_collection) if @content_collection %>
