<div class="article_partial" lang="<%= page.effective_lang %>">
  <h2 class="headline"><%= link_to page.title, content_path(page.node.unique_path) %></h2>
  <p class="excerpt"><%= page.abstract %></p>
</div>
