<%= link_to(
  image_tag(@images[0].upload.url(:headline)),
  @images[0].upload.url,
  :class => "glightbox",
  :data  => { :gallery => "page-#{@page.node.id}" }
) %>

<% if 1 < @images.length %>
  <div class="right">
    <%= "#{@images.length} #{t(:images)}" %>
  </div>
<% end %>

<% @images[1..-1].each do |image| %>
  <%= link_to "", image.upload.url, :class => "glightbox", :style => "display: none", :data => { :gallery => "page-#{@page.node.id}" } %>
<% end %>
